<h1>Sign In</h1>

<div class="container">
  <div class="col col-md-6 offset-md-3">
    <%= form_for :session, url: signin_path do |f|%>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
